<div class="dropdown ">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filtrar por categoria
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for category in categories %}
                <a class="dropdown-item" href="#">{{ category.name }}</a>
        {% endfor %}

    </div>
</div>

