{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-12">
                    <section>
                        <header>
                            <h1 class="display-4">A empresa</h1>
                        </header>
                        <p>A empresa destaca-se pelo profissionalismo de seues técnicos e colaboradores.
                        Trabalhamos com rigor, respeitando na integra a prescrição médica com os melhores componentes para Próteses e Órteses, nacionais e importados.</p>
                    </section>

                    <section>
                        <header>
                            <h2>Missão</h2>
                        </header>
                        <p>Sempre preocupada em atingir os maiores controles de qualidade, capacitamos nossos técnicos periodicamente na central de treinamentos da Otto Bock em Campinas, buscando a satisfação dos nossos clientes, com qualidade e alta tecnologia.</p>
                    </section>
                </div>
            </div>
        </div>
    </main>

{% endblock %}