{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <br>
            <h1>{{ page.title }}</h1>
            {{ page.intro|richtext }}
            <br>

            <form action="{% pageurl page %}" method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Solicitar agendamento</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
