{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% include "home/includes/main_carousel.html" %}

    <br>
    <div class="container"><hr></div>

    {% include "home/includes/contact_channels.html" %}

    <div class="container"><hr></div>

{% endblock %}