{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block content %}
    <div class="container">
        <br>

        {% include "home/includes/page_title_with_filter.html" %}

        <br>

        <div class="row">
            {% for product_page in page.get_children %}
                {% with product_page=product_page.specific %}
                    <div class="col-md-3 col-sm-12 mb-3">
                        <div class="card">

                            <a href="{% pageurl product_page %}">
                                {% with product_page.main_image as main_image %}
                                    {% if main_image %}{% image main_image max-250x250 class="d-block m-auto" %}{% endif %}
                                {% endwith %}
                            </a>

                            <div class="card-body">
                                <h4 class="card-title">{{ product_page.title }}</h4>
                                <p class="card-text">
                                    {{ product_page.body|truncatechars:100|richtext }}
                                </p>
                                <a class="card-link" href="{% pageurl product_page %}">
                                    Ver detalhes
                                </a>
                            </div>

                        </div>
                    </div>

                {% endwith %}
            {% endfor %}
        </div>
    </div>

{% endblock %}