{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}
    <main>
        <div class="container">
            <br>
            {% include "home/includes/page_title.html" %}
            <br>

            <div class="row">

                <div class="col-12 col-md-6">
                    <p>{{ page.body|richtext }}</p>
                </div>

                <div class="col-12 col-md-6">

                    {% include 'home/includes/carousel.html' %}

                    <br>
                </div>

            </div>
        </div>
    </main>

{% endblock %}