{% load static wagtailuserbar %}
{% load wagtailcore_tags %}


{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

<body class="{% block body_class %}{% endblock %}">

{% wagtailuserbar %}

{% block header %}
    {% include "includes/header.html" %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}


<!-- Boostrap JS, Popper, Jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{# Global javascript #}
<script type="text/javascript" src="{% static 'js/site_ortomed.js' %}"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ08uJ40nXNk57e0-sYUYdBA3dvTrFYv0&callback=initMap"></script>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}

</body>


</html>
