{% load menu_tags %}



    <ul class="navbar-nav mr-auto ">
        {% for item in menu_items %}
            <li class="nav-item active" style="font-size: larger">
                <a href="{{ item.href }}" class="nav-link">{{ item.text }}</a>
            </li>
        {% endfor %}
    </ul>

