{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1> {#title já vem por padrão em page, e já vai aparecer no admin pra preencher#}

    <div class="intro">{{ page.intro|richtext }}</div> {# Aqui é o campo que adicionamos #}

    {% for post in blogpages %} {# Todas as páginas abaixo dessa aparentemente... #}
        {% with post=post.specific %}
            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>

            {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
            {% endwith %}

            {{ post.intro }}
            {{ post.body|richtext }}
        {% endwith %}
    {% endfor %}

{% endblock %}