* {
    /*border: 1px lightgrey solid;*/
}

#carousel-limit {
    min-width: 100%;
    max-height: 600px;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    #carousel-limit {
        min-width: 100%;
        max-height: 150px;
        overflow: hidden;
    }
}

@media screen and (min-width: 480px){
    #navbarSupportedContent{
        margin-left: 250px;
    }
}

@media screen and (min-width: 1280px){
    #navbarSupportedContent{
        margin-left: 450px;
    }
}

@media screen and (min-width: 1366px){
    #navbarSupportedContent{
        margin-left: 520px;
    }

    .desktop-hidden{
        visibility: hidden;
    }
}

#map {
    width: 100%;
    height: 200px;
    background-color: grey;
}
