{% load wagtailimages_tags %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol style="background-color: #423e93" class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      {% for item in page.gallery_images.all %}
          <div class="carousel-item active">
          {% image item.image max-300x300 class="d-block m-auto" %}
          </div>
      {% endfor %}
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{#media/images/WhatsApp_Image_2017-11-27_at_17.54.02.original.jpg#}