<div class="container">
    <div class="row justify-content-center text-center align-items-end">
        <div class="col-12 col-md-3">
            <div>
                <img src="/static/img/agendar.png" class="w-100 rounded" alt="">
                <h1>Agendar<br>visita</h1>
                <p>Agenda uma visita em nossa unidade do bairro de Jaguaribe em João Pessoa.</p>
                <a class="btn btn-info btn-block" href="/contato/agendar" role="button">Solicitar</a>
            </div>
        </div>
        <hr class="desktop-hidden">
        <div class="col-12 col-md-3">
            <div>
                <img src="/static/img/retornar.png" class="w-100 rounded" alt="">
                <h1>Retorno de contato</h1>
                <p>Escolha o melhor horário e canal de comunicação: e-mail, whatsapp ou telefone, e entraremos em contato.</p>
                <a class="btn btn-info btn-block" href="/contato/retornar" role="button">Solicitar</a>

            </div>
        </div>
        <hr class="desktop-hidden">
        <div class="col-12 col-md-3">
            <div>
                <img src="/static/img/orcamento.png" class="w-100 rounded" alt="">
                <h1>Solicite seu orçamento</h1>
                <p>Já encontrou o produto que melhor atende suas necessecidades? Solicite um orçamento.</p>
                <a class="btn btn-info btn-block" href="/contato/orcamento" role="button">Solicitar</a>

            </div>
        </div>
    </div>
</div>