{% load custom_tags %}
<div class="row justify-content-between">
    <div class="col-12 col-md-6 align-self-end">
        <h1 class="display-4">{{ page.title }}</h1>
    </div>

    <div class="col-12 col-md-3 align-self-center ">
            {% categories_filter_dropdown %}
    </div>
</div>