
<footer>
    <div class="container-fluid">
        <div class="row p-4" style="background-color: #423e93; color: white">
            <div class="col-md-3 text-center">
                <h1 class="lead">Redes sociais</h1>
                <a href="https://www.facebook.com/ortomedjp/">
                    <img src="/static/img/facebook.png" class="w-25 p-2 m-1" alt="">
                </a>
                <a href="">
                    <img src="/static/img/instagram.png" class="w-25 p-2 m-1" alt="">
                </a>
                <a href="">
                    <img src="/static/img/linkedin.png" class="w-25 p-2 m-1" alt="">
                </a>
            </div>
            <div class="col-md-6 ">
                <h1 class="lead text-center">Av. Senador João Lira, 42 - Jaguaribe | João Pessoa - Paraíba</h1>
                <div id="map"></div>
            </div>
            <div class="col-md-3 text-center">
                <h1 class="lead m-0 p-0"><img src="/static/img/telefone.png" class="w-25 p-3" alt="">(83) 3221-3999</h1>
                <h1 class="lead m-0 p-0"><img src="/static/img/whatsapp.png" class="w-25 p-3" alt="">(83) 9983-8338</h1>
            </div>
        </div>




        <div class="row p-2" style="background-color: #423e93; color: white">

            <div class="col-5">
                <p class="text-center">
                    Copyright©2017 - ORTOMED Ortopedia Técnica de Órteses e Próteses
                </p>
            </div>

            <div class="col-2">
                <p class="text-center">
                    <a style="color: #ffffff;" href="sitemap.xml">
                        Sitemap
                    </a>
                </p>
            </div>

            <div class="col-5">
                <p class="text-center">
                    <a style="color: #ffffff;" target="_blank" href="https://fb.com/reversalk">
                        Desenvolvido por STHR Lab
                    </a>
                </p>
            </div>
        </div>

    </div>
</footer>
