{% load menu_tags %}
<header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #423e93">

                    <a class="navbar-brand" href="/">ORTOMED</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% main_menu template="menus/main_menu.html" %}

                        <form>
                            <div class="row">
                                <div class="col col-9 mr-0 pr-1">
                                    <input class="form-control" type="search" placeholder="Busca" aria-label="Search">
                                </div>
                                <div class="col col-3  ml-0 pl-0">
                                    <button class="btn btn-light" type="submit">Busca</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</header>
